<!--Extend or inherit main template into this html and then replace these contents -->
{% extends 'main.html' %}

<!--Ginger syntax-->
{% block HeaderTitle %} 
<title>Ammar Page</title>
{% endblock%}

<!--Body Title to show where we are -->
{% block BodyTitle %} 
<h1 style="text-align:center">This is the home page</h1>
{% endblock%}

{% block BodyRecords %}
<div class="content">
    <!--Form to get information from the user -->
    <form action="/" method="post">
      <input type="text" name="content" id="content">
      <input type="submit" value="Add a task">
    </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
        <th scope="col">Added on</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <th scope="row">{{task.content}}</th>
        <td>{{task.completed}}</td>
        <td>{{task.date_created.date()}}</td>
        <td><a href="/delete/{{task.id}}">Delete row  | </a><a href="/update/{{task.id}}">Edit Task  | </a><a href="/completed/{{task.id}}">Task Completed</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}