<!--Extend or inherit main template into this html and then replace these contents -->
{% extends 'main.html' %}

<!--Ginger syntax-->
{% block HeaderTitle %} 
<title>Ammar Page</title>
{% endblock%}

<!--Body Title to show where we are -->
{% block BodyTitle %} 
<h1 style="text-align:center">Update an existing record</h1>
{% endblock%}

{% block BodyRecords %}
<div class="content" style="text-align:center">
    <form action="/update/{{task.id}}" method="post">
      <input type="text" name="content" id="content" value="{{task.content}}">
      <input type="submit" value="Update task">
    </form>
</div>
{% endblock%}